.u-section-1 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 1007px;
  margin: 0 166px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
  }
}