 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/775121.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2034px;
}

.u-section-1 .u-text-1 {
  text-shadow: -3px 2px 0px rgba(215,237,237,1);
  font-family: Blinker;
  width: 797px;
  margin: 49px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 322px;
  margin: 56px 0 0 582px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 322px;
  margin: -322px 570px 0 12px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 322px;
  margin: 0 0 0 582px;
}

.u-section-1 .u-custom-html-4 {
  min-height: 322px;
  margin: -322px 563px 0 20px;
}

.u-section-1 .u-image-1 {
  width: 102px;
  height: 83px;
  margin: 1085px auto 0 986px;
}

.u-section-1 .u-image-2 {
  width: 102px;
  height: 83px;
  margin: -83px auto 0 928px;
}

.u-section-1 .u-image-3 {
  width: 105px;
  height: 79px;
  margin: -40px auto 0 1015px;
}

.u-section-1 .u-image-4 {
  width: 105px;
  height: 79px;
  margin: -80px auto 0 984px;
}

.u-section-1 .u-image-5 {
  width: 105px;
  height: 78px;
  margin: -78px auto 0 947px;
}

.u-section-1 .u-image-6 {
  width: 105px;
  height: 78px;
  margin: -78px auto 0 910px;
}

.u-section-1 .u-video-1 {
  width: 175px;
  height: 122px;
  margin: -121px auto 0 756px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-image-7 {
  width: 85px;
  height: 30px;
  margin: -118px auto 0 23px;
}

.u-section-1 .u-image-8 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 328px;
}

.u-section-1 .u-image-9 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 644px;
}

.u-section-1 .u-image-10 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 427px;
}

.u-section-1 .u-image-11 {
  width: 85px;
  height: 30px;
  margin: -30px auto 0 122px;
}

.u-section-1 .u-image-12 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 224px;
}

.u-section-1 .u-image-13 {
  width: 85px;
  height: 30px;
  margin: -30px auto 0 533px;
}

.u-section-1 .u-image-14 {
  width: 85px;
  height: 30px;
  margin: 3px auto 0 534px;
}

.u-section-1 .u-image-15 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 644px;
}

.u-section-1 .u-image-16 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 427px;
}

.u-section-1 .u-image-17 {
  width: 85px;
  height: 30px;
  margin: -30px auto 0 21px;
}

.u-section-1 .u-image-18 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 328px;
}

.u-section-1 .u-image-19 {
  width: 85px;
  height: 30px;
  margin: -30px auto 0 122px;
}

.u-section-1 .u-image-20 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 225px;
}

.u-section-1 .u-image-21 {
  width: 85px;
  height: 30px;
  margin: 4px auto 0 427px;
}

.u-section-1 .u-image-22 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 225px;
}

.u-section-1 .u-image-23 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 328px;
}

.u-section-1 .u-image-24 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 644px;
}

.u-section-1 .u-image-25 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 534px;
}

.u-section-1 .u-image-26 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 122px;
}

.u-section-1 .u-image-27 {
  width: 85px;
  height: 30px;
  margin: -29px auto 7px 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-1 .u-text-1 {
    width: 575px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-left: 382px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    margin-left: 382px;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1006px;
    margin-left: 828px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 828px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 825px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 825px;
  }

  .u-section-1 .u-image-5 {
    height: 79px;
    margin-left: 825px;
  }

  .u-section-1 .u-image-6 {
    height: 79px;
    margin-top: -79px;
    margin-left: 825px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -122px;
    margin-left: 746px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 13px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 318px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 634px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 417px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 112px;
  }

  .u-section-1 .u-image-12 {
    margin-left: 214px;
  }

  .u-section-1 .u-image-13 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 524px;
  }

  .u-section-1 .u-image-15 {
    margin-left: 634px;
  }

  .u-section-1 .u-image-16 {
    margin-left: 417px;
  }

  .u-section-1 .u-image-17 {
    margin-left: 11px;
  }

  .u-section-1 .u-image-18 {
    margin-left: 318px;
  }

  .u-section-1 .u-image-19 {
    margin-left: 112px;
  }

  .u-section-1 .u-image-20 {
    margin-left: 215px;
  }

  .u-section-1 .u-image-21 {
    margin-left: 417px;
  }

  .u-section-1 .u-image-22 {
    margin-left: 215px;
  }

  .u-section-1 .u-image-23 {
    margin-left: 318px;
  }

  .u-section-1 .u-image-24 {
    margin-left: 634px;
  }

  .u-section-1 .u-image-25 {
    margin-left: 524px;
  }

  .u-section-1 .u-image-26 {
    margin-left: 112px;
  }

  .u-section-1 .u-image-27 {
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 162px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 162px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 162px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 162px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1243px;
    margin-left: 608px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 608px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 605px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 605px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 605px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 605px;
  }

  .u-section-1 .u-video-1 {
    margin-left: 535px;
  }

  .u-section-1 .u-image-8 {
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-left: 625px;
  }

  .u-section-1 .u-image-15 {
    margin-left: 625px;
  }

  .u-section-1 .u-image-18 {
    margin-left: auto;
  }

  .u-section-1 .u-image-23 {
    margin-left: auto;
  }

  .u-section-1 .u-image-24 {
    margin-left: 625px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 428px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 428px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 425px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 425px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 425px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 425px;
  }

  .u-section-1 .u-video-1 {
    margin-left: 355px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 318px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 445px;
  }

  .u-section-1 .u-image-13 {
    margin-left: 445px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 445px;
  }

  .u-section-1 .u-image-15 {
    margin-left: 445px;
  }

  .u-section-1 .u-image-18 {
    margin-left: 318px;
  }

  .u-section-1 .u-image-23 {
    margin-left: 318px;
  }

  .u-section-1 .u-image-24 {
    margin-left: 445px;
  }

  .u-section-1 .u-image-25 {
    margin-left: 445px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 228px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 228px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 225px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 225px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 225px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 225px;
  }

  .u-section-1 .u-video-1 {
    margin-left: 155px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-13 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-15 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-16 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-18 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-21 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-23 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-24 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-25 {
    margin-left: 245px;
  }
}