 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 6799px;
}

.u-section-1 .u-text-1 {
  font-family: "Sedgwick Ave";
  font-size: 3rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-family: "Covered By Your Grace";
  margin: 32px auto 0;
  padding: 10px 285px 10px 284px;
}

.u-section-1 .u-text-2 {
  font-family: "Covered By Your Grace";
  line-height: 1;
  font-size: 1.5rem;
  margin: 8px 107px 0 32px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-size: 0.625rem;
  font-family: "Big Shoulders Inline Display";
  line-height: 1.8;
  font-weight: 900;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }
}