 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/3933.jpg");
  background-position: 50% 50%;
  min-height: 1539px;
}

.u-section-1 .u-image-1 {
  width: 202px;
  height: 27px;
  margin: 5px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-1 {
  font-family: "Caveat Brush";
  font-size: 3rem;
  margin: -18px calc(((100% - 1140px) / 2) + -404px) 0 calc(((100% - 1140px) / 2) + 585px);
}

.u-section-1 .u-text-2 {
  font-family: "Gochi Hand";
  margin: 21px calc(((100% - 1140px) / 2) + -418px) 0 calc(((100% - 1140px) / 2) + 588px);
}

.u-section-1 .u-custom-html-1 {
  min-height: 192px;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-family: "Caveat Brush";
  background-image: none;
  margin: -433px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + -5px);
}

.u-section-1 .u-text-4 {
  font-family: "Sedgwick Ave";
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 2;
  font-size: 1.5rem;
  margin: 182px calc(((100% - 1140px) / 2) + 386px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-2 {
  width: 256px;
  height: 294px;
  margin: -659px calc(((100% - 1140px) / 2) + 56px) 0 auto;
}

.u-section-1 .u-custom-html-2 {
  min-height: 212px;
  margin-top: 191px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2) + 768px);
  width: 262px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 382px;
  margin-top: -33px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2));
  width: 683px;
}

.u-section-1 .u-custom-html-4 {
  min-height: 339px;
  margin-top: -325px;
  margin-bottom: 60px;
  margin-left: calc(((100% - 1140px) / 2) + 728px);
  width: 363px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1269px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: calc(((100% - 940px) / 2) + -5px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 186px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 56px);
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-left: calc(((100% - 940px) / 2) + 678px);
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    margin-bottom: 32px;
    margin-left: calc(((100% - 940px) / 2) + 577px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 972px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: calc(((100% - 720px) / 2) + -5px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 56px);
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 720px) / 2) + 458px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 720px) / 2) + 357px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 729px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -78px;
    margin-right: calc(((100% - 540px) / 2) + 270px);
    margin-left: calc(((100% - 540px) / 2) + -5px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 56px);
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 540px) / 2) + 278px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: calc(((100% - 540px) / 2));
    width: 540px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 540px) / 2) + 177px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 459px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 240px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -57px;
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: calc(((100% - 340px) / 2) + -5px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 340px) / 2) + 78px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }
}