 .u-section-1 {
  background-image: url("images/pexels-photo-9392381.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 847px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "DM Mono";
  margin: 47px -120px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: none;
  margin: 8px -120px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 30px 621px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 259px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 84px;
  width: 84px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -24px 107px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 84px;
  width: 84px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -24px 107px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 84px;
  width: 84px;
  transition-duration: 0.5s;
  transform: scale(1.1) translateX(0px) translateY(0px);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -24px 107px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 50px -120px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 421px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 214px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 73px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 73px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-icon-3 {
    transform: scale(2) translateX(0px) translateY(0px) rotate(359deg);
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 73px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 52px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 201px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 492px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -225px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 21px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 128px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 146px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 146px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 146px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -490px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 180px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 32px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 32px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-10 {
    font-size: 3rem;
    margin-top: -677px;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-3 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-3 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}