.u-section-1 .u-sheet-1 {
  min-height: 927px;
}

.u-section-1 .u-image-1 {
  width: 110px;
  height: 110px;
  margin: 397px auto 0 47px;
}

.u-section-1 .u-image-2 {
  width: 110px;
  height: 110px;
  margin: -110px auto 0 157px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 508px;
  margin: -463px 273px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 110px;
  height: 110px;
  margin: -156px auto 0 377px;
}

.u-section-1 .u-image-5 {
  width: 110px;
  height: 110px;
  margin: -258px 262px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 110px;
  height: 110px;
  margin: 38px auto 0 267px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-family: "Gochi Hand";
  margin: -87px auto 0 79px;
  padding: 10px 0;
}

.u-section-1 .u-image-7 {
  width: 109px;
  height: 109px;
  margin: -240px 153px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-family: "Gochi Hand";
  margin: -92px 153px 0 auto;
  padding: 10px 0;
}

.u-section-1 .u-image-8 {
  width: 109px;
  height: 109px;
  margin: -247px auto 0 79px;
}

.u-section-1 .u-image-9 {
  width: 109px;
  height: 109px;
  margin: -107px auto 0 188px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-family: "Gochi Hand";
  font-size: 0.875rem;
  margin: -87px auto 0 79px;
  padding: 0;
}

.u-section-1 .u-image-10 {
  width: 106px;
  height: 106px;
  margin: 263px 167px 0 auto;
}

.u-section-1 .u-image-11 {
  width: 106px;
  height: 106px;
  margin: -105px 61px 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Gochi Hand";
  margin: -88px 89px 0 auto;
  padding: 10px 0;
}

.u-section-1 .u-image-12 {
  width: 102px;
  height: 83px;
  margin: 275px 72px 0 auto;
}

.u-section-1 .u-image-13 {
  width: 102px;
  height: 83px;
  margin: -83px 131px 0 auto;
}

.u-section-1 .u-image-14 {
  width: 105px;
  height: 79px;
  margin: -40px 41px 0 auto;
}

.u-section-1 .u-image-15 {
  width: 105px;
  height: 79px;
  margin: -80px 72px 0 auto;
}

.u-section-1 .u-image-16 {
  width: 105px;
  height: 78px;
  margin: -78px 109px 0 auto;
}

.u-section-1 .u-image-17 {
  width: 105px;
  height: 78px;
  margin: -78px 146px 0 auto;
}

.u-section-1 .u-video-1 {
  width: 175px;
  height: 122px;
  margin: -121px 230px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-image-18 {
  width: 85px;
  height: 30px;
  margin: -118px auto 0 2px;
}

.u-section-1 .u-image-19 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 307px;
}

.u-section-1 .u-image-20 {
  width: 85px;
  height: 30px;
  margin: -29px 432px 0 auto;
}

.u-section-1 .u-image-21 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 406px;
}

.u-section-1 .u-image-22 {
  width: 85px;
  height: 30px;
  margin: -30px auto 0 101px;
}

.u-section-1 .u-image-23 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 203px;
}

.u-section-1 .u-image-24 {
  width: 85px;
  height: 30px;
  margin: -30px auto 0 512px;
}

.u-section-1 .u-image-25 {
  width: 85px;
  height: 30px;
  margin: 3px auto 0 513px;
}

.u-section-1 .u-image-26 {
  width: 85px;
  height: 30px;
  margin: -29px 432px 0 auto;
}

.u-section-1 .u-image-27 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 406px;
}

.u-section-1 .u-image-28 {
  width: 85px;
  height: 30px;
  margin: -30px auto 0 0;
}

.u-section-1 .u-image-29 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 307px;
}

.u-section-1 .u-image-30 {
  width: 85px;
  height: 30px;
  margin: -30px auto 0 101px;
}

.u-section-1 .u-image-31 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 204px;
}

.u-section-1 .u-image-32 {
  width: 85px;
  height: 30px;
  margin: 4px auto 0 406px;
}

.u-section-1 .u-image-33 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 204px;
}

.u-section-1 .u-image-34 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 307px;
}

.u-section-1 .u-image-35 {
  width: 85px;
  height: 30px;
  margin: -29px 432px 0 auto;
}

.u-section-1 .u-image-36 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 513px;
}

.u-section-1 .u-image-37 {
  width: 85px;
  height: 30px;
  margin: -29px auto 0 101px;
}

.u-section-1 .u-image-38 {
  width: 85px;
  height: 30px;
  margin: -29px auto 7px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 147px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 257px;
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: 197px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 477px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 362px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 367px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 253px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 179px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 50px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 267px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 161px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-image-16 {
    height: 79px;
  }

  .u-section-1 .u-image-17 {
    height: 79px;
    margin-top: -79px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -122px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 257px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 367px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 210px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 443px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-right: 472px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 477px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 210px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 363px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 289px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 398px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 160px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 377px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 347px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 457px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 481px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -129px;
    margin-right: 353px;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: 468px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 453px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 379px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 488px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 250px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 467px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 361px;
  }

  .u-section-1 .u-image-24 {
    margin-left: 455px;
  }

  .u-section-1 .u-image-25 {
    margin-left: 455px;
  }

  .u-section-1 .u-image-36 {
    margin-left: 455px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 447px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 473px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 303px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 49px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 400px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 400px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 307px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-right: auto;
    margin-left: 478px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 479px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 443px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 350px;
  }

  .u-section-1 .u-image-10 {
    margin-right: auto;
    margin-left: 467px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 461px;
  }

  .u-section-1 .u-video-1 {
    margin-right: 165px;
  }

  .u-section-1 .u-image-19 {
    margin-left: 255px;
  }

  .u-section-1 .u-image-20 {
    margin-right: 255px;
  }

  .u-section-1 .u-image-21 {
    margin-left: 255px;
  }

  .u-section-1 .u-image-24 {
    margin-left: 255px;
  }

  .u-section-1 .u-image-25 {
    margin-left: 255px;
  }

  .u-section-1 .u-image-26 {
    margin-right: 255px;
  }

  .u-section-1 .u-image-27 {
    margin-left: 255px;
  }

  .u-section-1 .u-image-29 {
    margin-left: 255px;
  }

  .u-section-1 .u-image-32 {
    margin-left: 255px;
  }

  .u-section-1 .u-image-34 {
    margin-left: 255px;
  }

  .u-section-1 .u-image-35 {
    margin-right: 255px;
  }

  .u-section-1 .u-image-36 {
    margin-left: 255px;
  }
}