 .u-section-1 {
  min-height: 663px;
}

.u-section-1 .u-image-1 {
  width: 106px;
  height: 106px;
  margin: 247px calc(((100% - 1140px) / 2) + 47px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 106px;
  height: 106px;
  margin: -108px calc(((100% - 1140px) / 2) + -59px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 110px;
  height: 110px;
  margin: 46px auto 0 calc(((100% - 1140px) / 2) + 47px);
}

.u-section-1 .u-image-4 {
  width: 110px;
  height: 110px;
  margin: -110px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 110px;
  height: 110px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 157px);
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 508px;
  margin: -463px calc(((100% - 1140px) / 2) + 273px) 0 auto;
}

.u-section-1 .u-image-7 {
  width: 110px;
  height: 110px;
  margin: -156px auto 0 calc(((100% - 1140px) / 2) + 377px);
}

.u-section-1 .u-image-8 {
  width: 106px;
  height: 106px;
  margin: -261px auto 0 calc(((100% - 1140px) / 2) + 285px);
}

.u-section-1 .u-image-9 {
  width: 110px;
  height: 110px;
  margin: -103px calc(((100% - 1140px) / 2) + 262px) 0 auto;
}

.u-section-1 .u-image-10 {
  width: 110px;
  height: 110px;
  margin: 38px auto 0 calc(((100% - 1140px) / 2) + 267px);
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  margin: -90px auto 0 calc(((100% - 1140px) / 2));
  padding: 10px 0;
}

.u-section-1 .u-image-11 {
  width: 109px;
  height: 109px;
  margin: -241px calc(((100% - 1140px) / 2) + 153px) 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  margin: -77px calc(((100% - 1140px) / 2) + -59px) 0 auto;
  padding: 10px 0;
}

.u-section-1 .u-image-12 {
  width: 129px;
  height: 109px;
  margin: -231px auto 0 0;
}

.u-section-1 .u-image-13 {
  width: 109px;
  height: 109px;
  margin: -111px auto 0 calc(((100% - 1140px) / 2) + 79px);
}

.u-section-1 .u-image-14 {
  width: 109px;
  height: 109px;
  margin: -107px auto 0 calc(((100% - 1140px) / 2) + 188px);
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  margin: -81px auto 0 0;
  padding: 0;
}

.u-section-1 .u-image-15 {
  width: 106px;
  height: 106px;
  margin: -78px calc(((100% - 1140px) / 2) + 167px) 0 auto;
}

.u-section-1 .u-image-16 {
  width: 104px;
  height: 104px;
  margin: -106px calc(((100% - 1140px) / 2) + 63px) 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  margin: -76px calc(((100% - 1140px) / 2) + 104px) 0 auto;
  padding: 10px 0;
}

.u-section-1 .u-image-17 {
  width: 109px;
  height: 109px;
  margin: 78px auto 0 calc(((100% - 1140px) / 2) + 66px);
}

.u-section-1 .u-image-18 {
  width: 109px;
  height: 109px;
  margin: -107px auto 0 calc(((100% - 1140px) / 2) + 176px);
}

.u-section-1 .u-image-19 {
  width: 106px;
  height: 106px;
  margin: 47px calc(((100% - 1140px) / 2) + 167px) 0 auto;
}

.u-section-1 .u-image-20 {
  width: 106px;
  height: 106px;
  margin: -105px calc(((100% - 1140px) / 2) + 61px) 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  margin: -78px calc(((100% - 1140px) / 2) + 61px) 60px auto;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 249px;
    margin-right: calc(((100% - 940px) / 2) + 47px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 154px;
    margin-right: calc(((100% - 940px) / 2) + -59px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -218px;
    margin-left: calc(((100% - 1140px) / 2) + 147px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 257px);
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 197px);
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 1140px) / 2) + 362px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 1140px) / 2) + 367px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 1140px) / 2) + 253px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 1140px) / 2) + 288px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 1140px) / 2) + 267px);
  }

  .u-section-1 .u-image-16 {
    margin-right: calc(((100% - 1140px) / 2) + 163px);
  }

  .u-section-1 .u-btn-4 {
    margin-top: -74px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-17 {
    margin-top: 76px;
    margin-left: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-1 .u-image-18 {
    margin-top: -108px;
    margin-left: calc(((100% - 1140px) / 2) + 276px);
  }

  .u-section-1 .u-image-19 {
    margin-top: 50px;
    margin-right: calc(((100% - 1140px) / 2) + 267px);
  }

  .u-section-1 .u-image-20 {
    margin-top: -106px;
    margin-right: calc(((100% - 1140px) / 2) + 161px);
  }

  .u-section-1 .u-btn-5 {
    margin-top: -77px;
    margin-right: calc(((100% - 940px) / 2) + 61px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 47px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + -59px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 257px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 367px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 443px);
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 495px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 1140px) / 2) + 472px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 1140px) / 2) + 363px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 1140px) / 2) + 289px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 1140px) / 2) + 398px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-1 .u-image-16 {
    margin-right: calc(((100% - 1140px) / 2) + 273px);
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-17 {
    margin-left: calc(((100% - 720px) / 2) + 66px);
  }

  .u-section-1 .u-image-18 {
    margin-left: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-1 .u-image-19 {
    margin-right: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-1 .u-image-20 {
    margin-right: calc(((100% - 1140px) / 2) + 271px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2) + 61px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 636px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 47px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + -59px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 347px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 457px);
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 481px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-7 {
    margin-top: -129px;
    margin-right: calc(((100% - 1140px) / 2) + 353px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 1140px) / 2) + 449px);
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 468px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 1140px) / 2) + 463px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 1140px) / 2) + 453px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 1140px) / 2) + 379px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 1140px) / 2) + 488px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-1 .u-image-16 {
    margin-right: calc(((100% - 1140px) / 2) + 363px);
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-17 {
    margin-left: calc(((100% - 540px) / 2) + 66px);
  }

  .u-section-1 .u-image-18 {
    margin-left: calc(((100% - 1140px) / 2) + 476px);
  }

  .u-section-1 .u-image-19 {
    margin-right: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-1 .u-image-20 {
    margin-right: calc(((100% - 1140px) / 2) + 361px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2) + 61px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 458px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + 47px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 340px) / 2) + -59px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 447px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 1140px) / 2) + 473px);
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 303px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 49px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 307px);
    margin-left: auto;
  }

  .u-section-1 .u-image-11 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 478px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 1140px) / 2) + 479px);
  }

  .u-section-1 .u-image-14 {
    margin-right: calc(((100% - 1140px) / 2) + 443px);
    margin-left: auto;
  }

  .u-section-1 .u-image-15 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-1 .u-image-16 {
    margin-right: calc(((100% - 1140px) / 2) + 463px);
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-17 {
    margin-left: calc(((100% - 340px) / 2) + 66px);
  }

  .u-section-1 .u-image-18 {
    margin-right: calc(((100% - 1140px) / 2) + 455px);
    margin-left: auto;
  }

  .u-section-1 .u-image-19 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-1 .u-image-20 {
    margin-right: calc(((100% - 1140px) / 2) + 461px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 340px) / 2) + 61px);
  }
}