 .u-section-1 {
  background-image: url("images/Mountains.gif");
  min-height: 2059px;
}

.u-section-1 .u-text-1 {
  font-family: "Gochi Hand";
  line-height: 1;
  margin: 174px calc(((100% - 1140px) / 2) + -49px) 0 calc(((100% - 1140px) / 2) + -1px);
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 48px;
  margin: -37px calc(((100% - 1140px) / 2) + 80px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 111px;
  height: 111px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 144px);
}

.u-section-1 .u-image-3 {
  height: 111px;
  width: 111px;
  margin: -111px calc(((100% - 1140px) / 2) + 366px) 0 auto;
}

.u-section-1 .u-image-4 {
  height: 111px;
  width: 111px;
  margin: -110px calc(((100% - 1140px) / 2) + 498px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 111px;
  height: 111px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-1 .u-image-6 {
  width: 111px;
  height: 111px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 263px);
}

.u-section-1 .u-image-7 {
  height: 111px;
  width: 111px;
  filter: brightness(0.25);
  margin: -111px calc(((100% - 1140px) / 2) + 97px) 0 auto;
}

.u-section-1 .u-image-8 {
  width: 111px;
  height: 111px;
  margin: -109px calc(((100% - 1140px) / 2) + 235px) 0 auto;
}

.u-section-1 .u-image-9 {
  width: 111px;
  height: 111px;
  margin: -2px calc(((100% - 1140px) / 2) + 240px) 0 auto;
}

.u-section-1 .u-image-10 {
  width: 112px;
  height: 112px;
  filter: brightness(0.2);
  margin: -218px auto 0 calc(((100% - 1140px) / 2) + 398px);
}

.u-section-1 .u-image-11 {
  width: 111px;
  height: 111px;
  margin: -3px auto 0 calc(((100% - 1140px) / 2) + 265px);
}

.u-section-1 .u-image-12 {
  width: 111px;
  height: 111px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-1 .u-image-13 {
  width: 111px;
  height: 111px;
  margin: -110px calc(((100% - 1140px) / 2) + 99px) 0 auto;
}

.u-section-1 .u-image-14 {
  width: 112px;
  height: 112px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 139px);
}

.u-section-1 .u-image-15 {
  height: 111px;
  width: 111px;
  margin: -112px calc(((100% - 1140px) / 2) + 363px) 0 auto;
}

.u-section-1 .u-image-16 {
  height: 111px;
  width: 111px;
  margin: -110px calc(((100% - 1140px) / 2) + 499px) 0 auto;
}

.u-section-1 .u-image-17 {
  width: 111px;
  height: 111px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 401px);
}

.u-section-1 .u-image-18 {
  width: 111px;
  height: 111px;
  margin: 3px calc(((100% - 1140px) / 2) + 364px) 0 auto;
}

.u-section-1 .u-image-19 {
  height: 111px;
  width: 111px;
  margin: -109px auto 0 calc(((100% - 1140px) / 2) + 402px);
}

.u-section-1 .u-image-20 {
  height: 111px;
  width: 111px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 270px);
}

.u-section-1 .u-image-21 {
  height: 111px;
  width: 111px;
  margin: -111px calc(((100% - 1140px) / 2) + 94px) 0 auto;
}

.u-section-1 .u-image-22 {
  height: 111px;
  width: 111px;
  margin: -110px calc(((100% - 1140px) / 2) + 496px) 0 auto;
}

.u-section-1 .u-image-23 {
  height: 111px;
  width: 111px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 142px);
}

.u-section-1 .u-image-24 {
  width: 112px;
  height: 112px;
  filter: brightness(0.2);
  margin: -110px calc(((100% - 1140px) / 2) + 234px) 0 auto;
}

.u-section-1 .u-image-25 {
  height: 111px;
  width: 111px;
  margin: -112px auto 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-1 .u-image-26 {
  height: 111px;
  width: 111px;
  margin: 1px auto 0 calc(((100% - 1140px) / 2) + 401px);
}

.u-section-1 .u-image-27 {
  height: 111px;
  width: 111px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 276px);
}

.u-section-1 .u-image-28 {
  width: 111px;
  height: 111px;
  margin: -110px calc(((100% - 1140px) / 2) + 496px) 0 auto;
}

.u-section-1 .u-image-29 {
  height: 111px;
  width: 111px;
  margin: -111px auto 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-1 .u-image-30 {
  width: 112px;
  height: 112px;
  margin: -110px calc(((100% - 1140px) / 2) + 223px) 0 auto;
}

.u-section-1 .u-image-31 {
  height: 111px;
  width: 111px;
  filter: brightness(0.3);
  margin: -111px auto 0 calc(((100% - 1140px) / 2) + 152px);
}

.u-section-1 .u-image-32 {
  width: 111px;
  height: 111px;
  filter: brightness(0.1);
  margin: -109px calc(((100% - 1140px) / 2) + 363px) 0 auto;
}

.u-section-1 .u-image-33 {
  width: 117px;
  height: 114px;
  margin: -107px calc(((100% - 1140px) / 2) + 89px) 0 auto;
}

.u-section-1 .u-image-34 {
  height: 111px;
  width: 111px;
  margin: -1px auto 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-1 .u-image-35 {
  width: 111px;
  height: 111px;
  filter: brightness(0.1);
  margin: -109px auto 0 calc(((100% - 1140px) / 2) + 398px);
}

.u-section-1 .u-image-36 {
  height: 111px;
  width: 111px;
  margin: -111px auto 0 calc(((100% - 1140px) / 2) + 148px);
}

.u-section-1 .u-image-37 {
  height: 111px;
  width: 111px;
  margin: -108px auto 0 calc(((100% - 1140px) / 2) + 271px);
}

.u-section-1 .u-image-38 {
  width: 111px;
  height: 111px;
  margin: -109px calc(((100% - 1140px) / 2) + 496px) 0 auto;
}

.u-section-1 .u-image-39 {
  width: 111px;
  height: 111px;
  margin: -109px calc(((100% - 1140px) / 2) + 223px) 0 auto;
}

.u-section-1 .u-image-40 {
  width: 112px;
  height: 112px;
  margin: -106px calc(((100% - 1140px) / 2) + 87px) 0 auto;
}

.u-section-1 .u-image-41 {
  width: 111px;
  height: 111px;
  margin: -112px calc(((100% - 1140px) / 2) + 363px) 0 auto;
}

.u-section-1 .u-image-42 {
  width: 111px;
  height: 111px;
  filter: brightness(0.15);
  margin: -6px auto 0 calc(((100% - 1140px) / 2) + 142px);
}

.u-section-1 .u-image-43 {
  width: 111px;
  height: 111px;
  margin: -107px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-44 {
  width: 111px;
  height: 111px;
  filter: brightness(0.15);
  margin: -111px auto 0 calc(((100% - 1140px) / 2) + 272px);
}

.u-section-1 .u-image-45 {
  width: 111px;
  height: 111px;
  filter: brightness(0.1);
  margin: -105px auto 0 calc(((100% - 1140px) / 2) + 398px);
}

.u-section-1 .u-image-46 {
  width: 111px;
  height: 111px;
  margin: -107px calc(((100% - 1140px) / 2) + 501px) 0 auto;
}

.u-section-1 .u-image-47 {
  width: 112px;
  height: 112px;
  filter: brightness(0.1);
  margin: -111px calc(((100% - 1140px) / 2) + 88px) 0 auto;
}

.u-section-1 .u-image-48 {
  width: 111px;
  height: 111px;
  margin: -108px calc(((100% - 1140px) / 2) + 228px) 0 auto;
}

.u-section-1 .u-image-49 {
  width: 111px;
  height: 111px;
  margin: -111px calc(((100% - 1140px) / 2) + 364px) 0 auto;
}

.u-section-1 .u-image-50 {
  width: 112px;
  height: 112px;
  filter: brightness(0.2);
  margin: 5px auto 0 calc(((100% - 1140px) / 2) + 269px);
}

.u-section-1 .u-image-51 {
  width: 112px;
  height: 112px;
  margin: -108px calc(((100% - 1140px) / 2) + 498px) 0 auto;
}

.u-section-1 .u-image-52 {
  width: 111px;
  height: 111px;
  margin: -111px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-53 {
  width: 111px;
  height: 111px;
  margin: -111px auto 0 calc(((100% - 1140px) / 2) + 140px);
}

.u-section-1 .u-image-54 {
  width: 111px;
  height: 111px;
  margin: -111px auto 0 calc(((100% - 1140px) / 2) + 394px);
}

.u-section-1 .u-image-55 {
  width: 111px;
  height: 111px;
  margin: -111px calc(((100% - 1140px) / 2) + 227px) 0 auto;
}

.u-section-1 .u-image-56 {
  width: 111px;
  height: 108px;
  margin: -108px calc(((100% - 1140px) / 2) + 94px) 0 auto;
}

.u-section-1 .u-image-57 {
  width: 111px;
  height: 111px;
  margin: -100px calc(((100% - 1140px) / 2) + 369px) 0 auto;
}

.u-section-1 .u-image-58 {
  width: 480px;
  height: 274px;
  margin: 6px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-59 {
  width: 111px;
  height: 111px;
  filter: brightness(0.5);
  margin: -263px calc(((100% - 1140px) / 2) + 496px) 0 auto;
}

.u-section-1 .u-image-60 {
  width: 109px;
  height: 109px;
  margin: -111px calc(((100% - 1140px) / 2) + 370px) 0 auto;
}

.u-section-1 .u-image-61 {
  width: 100px;
  height: 109px;
  margin: -109px calc(((100% - 1140px) / 2) + 238px) 0 auto;
}

.u-section-1 .u-image-62 {
  width: 112px;
  height: 112px;
  margin: -101px calc(((100% - 1140px) / 2) + 96px) 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Sedgwick Ave";
  margin: -124px calc(((100% - 1140px) / 2) + -206px) 0 calc(((100% - 1140px) / 2) + 156px);
}

.u-section-1 .u-image-63 {
  width: 119px;
  height: 118px;
  margin: 106px calc(((100% - 1140px) / 2) + 80px) 0 auto;
}

.u-section-1 .u-image-64 {
  width: 112px;
  height: 112px;
  margin: -112px calc(((100% - 1140px) / 2) + 496px) 0 auto;
}

.u-section-1 .u-image-65 {
  width: 112px;
  height: 112px;
  margin: -112px calc(((100% - 1140px) / 2) + 226px) 0 auto;
}

.u-section-1 .u-image-66 {
  width: 112px;
  height: 112px;
  margin: -112px calc(((100% - 1140px) / 2) + 367px) 0 auto;
}

.u-section-1 .u-image-67 {
  width: 112px;
  height: 112px;
  margin: 13px calc(((100% - 1140px) / 2) + 501px) 0 auto;
}

.u-section-1 .u-image-68 {
  width: 112px;
  height: 112px;
  filter: brightness(0.35);
  margin: -109px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-1 .u-image-69 {
  width: 112px;
  height: 112px;
  margin: -110px calc(((100% - 1140px) / 2) + 364px) 0 auto;
}

.u-section-1 .u-image-70 {
  width: 112px;
  height: 112px;
  filter: brightness(0.15);
  margin: -112px calc(((100% - 1140px) / 2) + 226px) 0 auto;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  border-style: none;
  padding-left: 8px;
  padding-right: 8px;
  margin: -92px auto 0 calc(((100% - 1140px) / 2) + 80px);
}

.u-section-1 .u-image-71 {
  width: 227px;
  height: 170px;
  margin: 22px auto 0 calc(((100% - 1140px) / 2) + 291px);
}

.u-section-1 .u-image-72 {
  width: 215px;
  height: 170px;
  margin: -170px auto 0 calc(((100% - 1140px) / 2) + 40px);
}

.u-section-1 .u-image-73 {
  width: 112px;
  height: 112px;
  filter: brightness(0.2);
  margin: -122px calc(((100% - 1140px) / 2) + 96px) 0 auto;
}

.u-section-1 .u-image-74 {
  width: 112px;
  height: 112px;
  filter: brightness(0.25);
  margin: -112px calc(((100% - 1140px) / 2) + 226px) 0 auto;
}

.u-section-1 .u-image-75 {
  width: 112px;
  height: 112px;
  filter: brightness(0.25);
  margin: -112px calc(((100% - 1140px) / 2) + 367px) 0 auto;
}

.u-section-1 .u-image-76 {
  width: 112px;
  height: 112px;
  filter: brightness(0.1);
  margin: -105px calc(((100% - 1140px) / 2) + 497px) 0 auto;
}

.u-section-1 .u-image-77 {
  width: 112px;
  height: 112px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-78 {
  width: 112px;
  height: 112px;
  margin: -112px calc(((100% - 1140px) / 2) + 490px) 0 auto;
}

.u-section-1 .u-image-79 {
  width: 112px;
  height: 112px;
  margin: -112px auto 0 calc(((100% - 1140px) / 2) + 402px);
}

.u-section-1 .u-image-80 {
  width: 112px;
  height: 112px;
  margin: -112px calc(((100% - 1140px) / 2) + 364px) 0 auto;
}

.u-section-1 .u-image-81 {
  width: 112px;
  height: 112px;
  margin: -108px calc(((100% - 1140px) / 2) + 226px) 0 auto;
}

.u-section-1 .u-image-82 {
  width: 112px;
  height: 112px;
  margin: -112px calc(((100% - 1140px) / 2) + 94px) 0 auto;
}

.u-section-1 .u-image-83 {
  width: 112px;
  height: 112px;
  margin: -112px auto 0 calc(((100% - 1140px) / 2) + 270px);
}

.u-section-1 .u-image-84 {
  width: 112px;
  height: 112px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 139px);
}

.u-section-1 .u-image-85 {
  width: 112px;
  height: 112px;
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + 139px);
}

.u-section-1 .u-image-86 {
  width: 112px;
  height: 112px;
  margin: -112px calc(((100% - 1140px) / 2) + 362px) 0 auto;
}

.u-section-1 .u-image-87 {
  width: 112px;
  height: 112px;
  margin: -111px auto 0 calc(((100% - 1140px) / 2) + 400px);
}

.u-section-1 .u-image-88 {
  width: 112px;
  height: 112px;
  margin: -112px calc(((100% - 1140px) / 2) + 498px) 0 auto;
}

.u-section-1 .u-image-89 {
  width: 112px;
  height: 112px;
  margin: -108px auto 0 calc(((100% - 1140px) / 2) + 270px);
}

.u-section-1 .u-image-90 {
  width: 112px;
  height: 112px;
  filter: brightness(0.25);
  margin: -110px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-91 {
  width: 82px;
  height: 68px;
  margin: 80px 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 1698px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 180px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 244px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 1140px) / 2) + 466px);
  }

  .u-section-1 .u-image-4 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 431px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 116px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 1140px) / 2) + 363px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 197px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 1140px) / 2) + 101px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 1140px) / 2) + 101px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 1140px) / 2) + 498px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 1140px) / 2) + 365px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 1140px) / 2) + 116px);
  }

  .u-section-1 .u-image-13 {
    margin-right: calc(((100% - 1140px) / 2) + 101px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 1140px) / 2) + 463px);
  }

  .u-section-1 .u-image-16 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 430px);
  }

  .u-section-1 .u-image-17 {
    margin-left: calc(((100% - 1140px) / 2) + 430px);
  }

  .u-section-1 .u-image-18 {
    margin-right: calc(((100% - 1140px) / 2) + 464px);
  }

  .u-section-1 .u-image-19 {
    margin-left: calc(((100% - 1140px) / 2) + 302px);
  }

  .u-section-1 .u-image-20 {
    margin-left: calc(((100% - 1140px) / 2) + 370px);
  }

  .u-section-1 .u-image-21 {
    margin-right: calc(((100% - 1140px) / 2) + 194px);
  }

  .u-section-1 .u-image-22 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 433px);
  }

  .u-section-1 .u-image-23 {
    margin-left: calc(((100% - 1140px) / 2) + 242px);
  }

  .u-section-1 .u-image-24 {
    margin-right: calc(((100% - 1140px) / 2) + 334px);
  }

  .u-section-1 .u-image-25 {
    margin-left: calc(((100% - 1140px) / 2) + 116px);
  }

  .u-section-1 .u-image-26 {
    margin-left: calc(((100% - 1140px) / 2) + 501px);
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 1140px) / 2) + 376px);
  }

  .u-section-1 .u-image-28 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 376px);
  }

  .u-section-1 .u-image-29 {
    margin-left: calc(((100% - 1140px) / 2) + 116px);
  }

  .u-section-1 .u-image-30 {
    margin-right: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-image-31 {
    margin-left: calc(((100% - 1140px) / 2) + 252px);
  }

  .u-section-1 .u-image-32 {
    margin-right: calc(((100% - 1140px) / 2) + 463px);
  }

  .u-section-1 .u-image-33 {
    margin-right: calc(((100% - 1140px) / 2) + 189px);
  }

  .u-section-1 .u-image-34 {
    margin-left: calc(((100% - 1140px) / 2) + 111px);
  }

  .u-section-1 .u-image-35 {
    margin-left: calc(((100% - 1140px) / 2) + 498px);
  }

  .u-section-1 .u-image-36 {
    margin-left: calc(((100% - 1140px) / 2) + 248px);
  }

  .u-section-1 .u-image-37 {
    margin-left: calc(((100% - 1140px) / 2) + 371px);
  }

  .u-section-1 .u-image-38 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 433px);
  }

  .u-section-1 .u-image-39 {
    margin-right: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-image-40 {
    margin-right: calc(((100% - 1140px) / 2) + 187px);
  }

  .u-section-1 .u-image-41 {
    margin-right: calc(((100% - 1140px) / 2) + 463px);
  }

  .u-section-1 .u-image-42 {
    margin-left: calc(((100% - 1140px) / 2) + 242px);
  }

  .u-section-1 .u-image-43 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-44 {
    margin-left: calc(((100% - 1140px) / 2) + 372px);
  }

  .u-section-1 .u-image-45 {
    margin-left: calc(((100% - 1140px) / 2) + 498px);
  }

  .u-section-1 .u-image-46 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 428px);
  }

  .u-section-1 .u-image-47 {
    margin-right: calc(((100% - 1140px) / 2) + 188px);
  }

  .u-section-1 .u-image-48 {
    margin-right: calc(((100% - 1140px) / 2) + 328px);
  }

  .u-section-1 .u-image-49 {
    margin-right: calc(((100% - 1140px) / 2) + 464px);
  }

  .u-section-1 .u-image-50 {
    margin-left: calc(((100% - 1140px) / 2) + 369px);
  }

  .u-section-1 .u-image-51 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 430px);
  }

  .u-section-1 .u-image-52 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-53 {
    margin-left: calc(((100% - 1140px) / 2) + 240px);
  }

  .u-section-1 .u-image-54 {
    margin-left: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-1 .u-image-55 {
    margin-right: calc(((100% - 1140px) / 2) + 327px);
  }

  .u-section-1 .u-image-56 {
    margin-right: calc(((100% - 1140px) / 2) + 194px);
  }

  .u-section-1 .u-image-57 {
    margin-right: calc(((100% - 1140px) / 2) + 469px);
  }

  .u-section-1 .u-image-58 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-59 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 433px);
  }

  .u-section-1 .u-image-60 {
    margin-right: calc(((100% - 1140px) / 2) + 470px);
  }

  .u-section-1 .u-image-61 {
    margin-right: calc(((100% - 1140px) / 2) + 338px);
  }

  .u-section-1 .u-image-62 {
    margin-right: calc(((100% - 1140px) / 2) + 196px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-63 {
    margin-right: calc(((100% - 1140px) / 2) + 180px);
  }

  .u-section-1 .u-image-64 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 432px);
  }

  .u-section-1 .u-image-65 {
    margin-right: calc(((100% - 1140px) / 2) + 326px);
  }

  .u-section-1 .u-image-66 {
    margin-right: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-1 .u-image-67 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 427px);
  }

  .u-section-1 .u-image-68 {
    margin-right: calc(((100% - 1140px) / 2) + 193px);
  }

  .u-section-1 .u-image-69 {
    margin-right: calc(((100% - 1140px) / 2) + 464px);
  }

  .u-section-1 .u-image-70 {
    margin-right: calc(((100% - 1140px) / 2) + 326px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    padding: 0;
  }

  .u-section-1 .u-image-71 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-72 {
    width: 177px;
    margin-left: calc(((100% - 1140px) / 2) + 140px);
  }

  .u-section-1 .u-image-73 {
    margin-right: calc(((100% - 1140px) / 2) + 196px);
  }

  .u-section-1 .u-image-74 {
    margin-right: calc(((100% - 1140px) / 2) + 326px);
  }

  .u-section-1 .u-image-75 {
    margin-right: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-1 .u-image-76 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 431px);
  }

  .u-section-1 .u-image-77 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-78 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-1 .u-image-79 {
    margin-left: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-1 .u-image-80 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-1 .u-image-81 {
    margin-right: calc(((100% - 1140px) / 2) + 326px);
  }

  .u-section-1 .u-image-82 {
    margin-right: calc(((100% - 1140px) / 2) + 194px);
  }

  .u-section-1 .u-image-83 {
    margin-left: calc(((100% - 1140px) / 2) + 370px);
  }

  .u-section-1 .u-image-84 {
    margin-left: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-image-85 {
    margin-left: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-image-86 {
    margin-right: calc(((100% - 1140px) / 2) + 462px);
  }

  .u-section-1 .u-image-87 {
    margin-right: calc(((100% - 1140px) / 2) + 462px);
    margin-left: auto;
  }

  .u-section-1 .u-image-88 {
    margin-right: calc(((100% - 1140px) / 2) + 462px);
  }

  .u-section-1 .u-image-89 {
    margin-right: calc(((100% - 1140px) / 2) + 462px);
    margin-left: auto;
  }

  .u-section-1 .u-image-90 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1301px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 290px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 354px);
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 453px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 1140px) / 2) + 321px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 226px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 1140px) / 2) + 473px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 307px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 1140px) / 2) + 445px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 1140px) / 2) + 450px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: auto;
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 1140px) / 2) + 475px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 1140px) / 2) + 226px);
  }

  .u-section-1 .u-image-13 {
    margin-right: calc(((100% - 1140px) / 2) + 309px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 1140px) / 2) + 349px);
  }

  .u-section-1 .u-image-15 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 456px);
  }

  .u-section-1 .u-image-16 {
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-1 .u-image-17 {
    margin-right: calc(((100% - 1140px) / 2) + 418px);
    margin-left: auto;
  }

  .u-section-1 .u-image-18 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 455px);
  }

  .u-section-1 .u-image-19 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-20 {
    margin-left: calc(((100% - 1140px) / 2) + 480px);
  }

  .u-section-1 .u-image-21 {
    margin-right: calc(((100% - 1140px) / 2) + 304px);
  }

  .u-section-1 .u-image-22 {
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-image-23 {
    margin-left: calc(((100% - 1140px) / 2) + 352px);
  }

  .u-section-1 .u-image-24 {
    margin-right: calc(((100% - 1140px) / 2) + 444px);
  }

  .u-section-1 .u-image-25 {
    margin-left: calc(((100% - 1140px) / 2) + 226px);
  }

  .u-section-1 .u-image-26 {
    margin-right: calc(((100% - 1140px) / 2) + 418px);
    margin-left: auto;
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 1140px) / 2) + 486px);
  }

  .u-section-1 .u-image-28 {
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-image-29 {
    margin-left: calc(((100% - 1140px) / 2) + 226px);
  }

  .u-section-1 .u-image-30 {
    margin-right: calc(((100% - 1140px) / 2) + 433px);
  }

  .u-section-1 .u-image-31 {
    margin-left: calc(((100% - 1140px) / 2) + 362px);
  }

  .u-section-1 .u-image-32 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 456px);
  }

  .u-section-1 .u-image-33 {
    margin-right: calc(((100% - 1140px) / 2) + 299px);
  }

  .u-section-1 .u-image-34 {
    margin-left: calc(((100% - 1140px) / 2) + 221px);
  }

  .u-section-1 .u-image-35 {
    margin-right: calc(((100% - 1140px) / 2) + 421px);
    margin-left: auto;
  }

  .u-section-1 .u-image-36 {
    margin-left: calc(((100% - 1140px) / 2) + 358px);
  }

  .u-section-1 .u-image-37 {
    margin-left: calc(((100% - 1140px) / 2) + 481px);
  }

  .u-section-1 .u-image-38 {
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-image-39 {
    margin-right: calc(((100% - 1140px) / 2) + 433px);
  }

  .u-section-1 .u-image-40 {
    margin-right: calc(((100% - 1140px) / 2) + 297px);
  }

  .u-section-1 .u-image-41 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 456px);
  }

  .u-section-1 .u-image-42 {
    margin-left: calc(((100% - 1140px) / 2) + 352px);
  }

  .u-section-1 .u-image-43 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-44 {
    margin-left: calc(((100% - 1140px) / 2) + 482px);
  }

  .u-section-1 .u-image-45 {
    margin-right: calc(((100% - 1140px) / 2) + 421px);
    margin-left: auto;
  }

  .u-section-1 .u-image-46 {
    margin-left: calc(((100% - 1140px) / 2) + 318px);
  }

  .u-section-1 .u-image-47 {
    margin-right: calc(((100% - 1140px) / 2) + 298px);
  }

  .u-section-1 .u-image-48 {
    margin-right: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-1 .u-image-49 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 455px);
  }

  .u-section-1 .u-image-50 {
    margin-left: calc(((100% - 1140px) / 2) + 479px);
  }

  .u-section-1 .u-image-51 {
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-1 .u-image-52 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-53 {
    margin-left: calc(((100% - 1140px) / 2) + 350px);
  }

  .u-section-1 .u-image-54 {
    margin-right: calc(((100% - 1140px) / 2) + 425px);
    margin-left: auto;
  }

  .u-section-1 .u-image-55 {
    margin-right: calc(((100% - 1140px) / 2) + 437px);
  }

  .u-section-1 .u-image-56 {
    margin-right: calc(((100% - 1140px) / 2) + 304px);
  }

  .u-section-1 .u-image-57 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 450px);
  }

  .u-section-1 .u-image-58 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-59 {
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-image-60 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 451px);
  }

  .u-section-1 .u-image-61 {
    margin-right: calc(((100% - 1140px) / 2) + 448px);
  }

  .u-section-1 .u-image-62 {
    margin-right: calc(((100% - 1140px) / 2) + 306px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-63 {
    margin-right: calc(((100% - 1140px) / 2) + 290px);
  }

  .u-section-1 .u-image-64 {
    margin-left: calc(((100% - 1140px) / 2) + 322px);
  }

  .u-section-1 .u-image-65 {
    margin-right: calc(((100% - 1140px) / 2) + 436px);
  }

  .u-section-1 .u-image-66 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 451px);
  }

  .u-section-1 .u-image-67 {
    margin-left: calc(((100% - 1140px) / 2) + 317px);
  }

  .u-section-1 .u-image-68 {
    margin-right: calc(((100% - 1140px) / 2) + 303px);
  }

  .u-section-1 .u-image-69 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 454px);
  }

  .u-section-1 .u-image-70 {
    margin-right: calc(((100% - 1140px) / 2) + 436px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-71 {
    margin-right: calc(((100% - 1140px) / 2) + 412px);
    margin-left: auto;
  }

  .u-section-1 .u-image-72 {
    width: 215px;
    margin-left: calc(((100% - 1140px) / 2) + 250px);
  }

  .u-section-1 .u-image-73 {
    margin-right: calc(((100% - 1140px) / 2) + 306px);
  }

  .u-section-1 .u-image-74 {
    margin-right: calc(((100% - 1140px) / 2) + 436px);
  }

  .u-section-1 .u-image-75 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 451px);
  }

  .u-section-1 .u-image-76 {
    margin-left: calc(((100% - 1140px) / 2) + 321px);
  }

  .u-section-1 .u-image-77 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-78 {
    margin-left: calc(((100% - 1140px) / 2) + 328px);
  }

  .u-section-1 .u-image-79 {
    margin-right: calc(((100% - 1140px) / 2) + 416px);
    margin-left: auto;
  }

  .u-section-1 .u-image-80 {
    margin-left: calc(((100% - 1140px) / 2) + 454px);
  }

  .u-section-1 .u-image-81 {
    margin-right: calc(((100% - 1140px) / 2) + 436px);
  }

  .u-section-1 .u-image-82 {
    margin-right: calc(((100% - 1140px) / 2) + 304px);
  }

  .u-section-1 .u-image-83 {
    margin-left: calc(((100% - 1140px) / 2) + 480px);
  }

  .u-section-1 .u-image-84 {
    margin-left: calc(((100% - 1140px) / 2) + 349px);
  }

  .u-section-1 .u-image-85 {
    margin-left: calc(((100% - 1140px) / 2) + 349px);
  }

  .u-section-1 .u-image-86 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 456px);
  }

  .u-section-1 .u-image-87 {
    margin-right: calc(((100% - 1140px) / 2) + 418px);
  }

  .u-section-1 .u-image-88 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-1 .u-image-89 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 480px);
  }

  .u-section-1 .u-image-90 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 976px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 380px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 444px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 363px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 316px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 466px);
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 397px);
  }

  .u-section-1 .u-image-8 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-1 .u-image-9 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 489px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 1140px) / 2) + 330px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 1140px) / 2) + 464px);
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 1140px) / 2) + 316px);
  }

  .u-section-1 .u-image-13 {
    margin-right: calc(((100% - 1140px) / 2) + 399px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 1140px) / 2) + 439px);
  }

  .u-section-1 .u-image-15 {
    margin-left: calc(((100% - 1140px) / 2) + 366px);
  }

  .u-section-1 .u-image-16 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-17 {
    margin-right: calc(((100% - 1140px) / 2) + 328px);
  }

  .u-section-1 .u-image-18 {
    margin-left: calc(((100% - 1140px) / 2) + 365px);
  }

  .u-section-1 .u-image-19 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-20 {
    margin-right: calc(((100% - 1140px) / 2) + 459px);
    margin-left: auto;
  }

  .u-section-1 .u-image-21 {
    margin-right: calc(((100% - 1140px) / 2) + 394px);
  }

  .u-section-1 .u-image-22 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-23 {
    margin-left: calc(((100% - 1140px) / 2) + 442px);
  }

  .u-section-1 .u-image-24 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-1 .u-image-25 {
    margin-left: calc(((100% - 1140px) / 2) + 316px);
  }

  .u-section-1 .u-image-26 {
    margin-right: calc(((100% - 1140px) / 2) + 328px);
  }

  .u-section-1 .u-image-27 {
    margin-right: calc(((100% - 1140px) / 2) + 453px);
    margin-left: auto;
  }

  .u-section-1 .u-image-28 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-29 {
    margin-left: calc(((100% - 1140px) / 2) + 316px);
  }

  .u-section-1 .u-image-30 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 505px);
  }

  .u-section-1 .u-image-31 {
    margin-left: calc(((100% - 1140px) / 2) + 452px);
  }

  .u-section-1 .u-image-32 {
    margin-left: calc(((100% - 1140px) / 2) + 366px);
  }

  .u-section-1 .u-image-33 {
    margin-right: calc(((100% - 1140px) / 2) + 389px);
  }

  .u-section-1 .u-image-34 {
    margin-left: calc(((100% - 1140px) / 2) + 311px);
  }

  .u-section-1 .u-image-35 {
    margin-right: calc(((100% - 1140px) / 2) + 331px);
  }

  .u-section-1 .u-image-36 {
    margin-left: calc(((100% - 1140px) / 2) + 448px);
  }

  .u-section-1 .u-image-37 {
    margin-right: calc(((100% - 1140px) / 2) + 458px);
    margin-left: auto;
  }

  .u-section-1 .u-image-38 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-39 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 506px);
  }

  .u-section-1 .u-image-40 {
    margin-right: calc(((100% - 1140px) / 2) + 387px);
  }

  .u-section-1 .u-image-41 {
    margin-left: calc(((100% - 1140px) / 2) + 366px);
  }

  .u-section-1 .u-image-42 {
    margin-left: calc(((100% - 1140px) / 2) + 442px);
  }

  .u-section-1 .u-image-43 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-44 {
    margin-right: calc(((100% - 1140px) / 2) + 457px);
    margin-left: auto;
  }

  .u-section-1 .u-image-45 {
    margin-right: calc(((100% - 1140px) / 2) + 331px);
  }

  .u-section-1 .u-image-46 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-47 {
    margin-right: calc(((100% - 1140px) / 2) + 388px);
  }

  .u-section-1 .u-image-48 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 501px);
  }

  .u-section-1 .u-image-49 {
    margin-left: calc(((100% - 1140px) / 2) + 365px);
  }

  .u-section-1 .u-image-50 {
    margin-right: calc(((100% - 1140px) / 2) + 459px);
    margin-left: auto;
  }

  .u-section-1 .u-image-51 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-52 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-53 {
    margin-left: calc(((100% - 1140px) / 2) + 440px);
  }

  .u-section-1 .u-image-54 {
    margin-right: calc(((100% - 1140px) / 2) + 335px);
  }

  .u-section-1 .u-image-55 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }

  .u-section-1 .u-image-56 {
    margin-right: calc(((100% - 1140px) / 2) + 394px);
  }

  .u-section-1 .u-image-57 {
    margin-left: calc(((100% - 1140px) / 2) + 360px);
  }

  .u-section-1 .u-image-58 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-59 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-60 {
    margin-left: calc(((100% - 1140px) / 2) + 361px);
  }

  .u-section-1 .u-image-61 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }

  .u-section-1 .u-image-62 {
    margin-right: calc(((100% - 1140px) / 2) + 396px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-63 {
    margin-right: calc(((100% - 1140px) / 2) + 380px);
  }

  .u-section-1 .u-image-64 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-65 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }

  .u-section-1 .u-image-66 {
    margin-left: calc(((100% - 1140px) / 2) + 361px);
  }

  .u-section-1 .u-image-67 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-68 {
    margin-right: calc(((100% - 1140px) / 2) + 393px);
  }

  .u-section-1 .u-image-69 {
    margin-left: calc(((100% - 1140px) / 2) + 364px);
  }

  .u-section-1 .u-image-70 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-71 {
    margin-right: calc(((100% - 1140px) / 2) + 322px);
  }

  .u-section-1 .u-image-72 {
    margin-left: calc(((100% - 1140px) / 2) + 340px);
  }

  .u-section-1 .u-image-73 {
    margin-right: calc(((100% - 1140px) / 2) + 396px);
  }

  .u-section-1 .u-image-74 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }

  .u-section-1 .u-image-75 {
    margin-left: calc(((100% - 1140px) / 2) + 361px);
  }

  .u-section-1 .u-image-76 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-77 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-78 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-79 {
    margin-right: calc(((100% - 1140px) / 2) + 326px);
  }

  .u-section-1 .u-image-80 {
    margin-left: calc(((100% - 1140px) / 2) + 364px);
  }

  .u-section-1 .u-image-81 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }

  .u-section-1 .u-image-82 {
    margin-right: calc(((100% - 1140px) / 2) + 394px);
  }

  .u-section-1 .u-image-83 {
    margin-right: calc(((100% - 1140px) / 2) + 458px);
    margin-left: auto;
  }

  .u-section-1 .u-image-84 {
    margin-left: calc(((100% - 1140px) / 2) + 439px);
  }

  .u-section-1 .u-image-85 {
    margin-left: calc(((100% - 1140px) / 2) + 439px);
  }

  .u-section-1 .u-image-86 {
    margin-left: calc(((100% - 1140px) / 2) + 366px);
  }

  .u-section-1 .u-image-87 {
    margin-right: calc(((100% - 1140px) / 2) + 328px);
  }

  .u-section-1 .u-image-88 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-89 {
    margin-right: calc(((100% - 1140px) / 2) + 458px);
    margin-left: auto;
  }

  .u-section-1 .u-image-90 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 472px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 485px);
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 497px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-1 .u-image-13 {
    margin-right: calc(((100% - 1140px) / 2) + 499px);
  }

  .u-section-1 .u-image-14 {
    margin-right: calc(((100% - 1140px) / 2) + 489px);
    margin-left: auto;
  }

  .u-section-1 .u-image-15 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-16 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-17 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-18 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-19 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-20 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-21 {
    margin-right: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-1 .u-image-22 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-23 {
    margin-right: calc(((100% - 1140px) / 2) + 487px);
    margin-left: auto;
  }

  .u-section-1 .u-image-24 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-25 {
    margin-left: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-1 .u-image-26 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-27 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-28 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-29 {
    margin-left: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-1 .u-image-30 {
    margin-left: calc(((100% - 1140px) / 2) + 405px);
  }

  .u-section-1 .u-image-31 {
    margin-right: calc(((100% - 1140px) / 2) + 477px);
    margin-left: auto;
  }

  .u-section-1 .u-image-32 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-33 {
    margin-right: calc(((100% - 1140px) / 2) + 489px);
  }

  .u-section-1 .u-image-34 {
    margin-left: calc(((100% - 1140px) / 2) + 411px);
  }

  .u-section-1 .u-image-35 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-36 {
    margin-right: calc(((100% - 1140px) / 2) + 481px);
    margin-left: auto;
  }

  .u-section-1 .u-image-37 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-38 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-39 {
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-1 .u-image-40 {
    margin-right: calc(((100% - 1140px) / 2) + 487px);
  }

  .u-section-1 .u-image-41 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-42 {
    margin-right: calc(((100% - 1140px) / 2) + 487px);
    margin-left: auto;
  }

  .u-section-1 .u-image-43 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-44 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-45 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-46 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-47 {
    margin-right: calc(((100% - 1140px) / 2) + 488px);
  }

  .u-section-1 .u-image-48 {
    margin-left: calc(((100% - 1140px) / 2) + 401px);
  }

  .u-section-1 .u-image-49 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-50 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-51 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-52 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-53 {
    margin-right: calc(((100% - 1140px) / 2) + 489px);
    margin-left: auto;
  }

  .u-section-1 .u-image-54 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-55 {
    margin-left: calc(((100% - 1140px) / 2) + 402px);
  }

  .u-section-1 .u-image-56 {
    margin-right: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-1 .u-image-57 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-58 {
    width: 340px;
    height: 194px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-59 {
    margin-top: -183px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-60 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-61 {
    margin-left: calc(((100% - 1140px) / 2) + 402px);
  }

  .u-section-1 .u-image-62 {
    margin-right: calc(((100% - 1140px) / 2) + 496px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-63 {
    margin-right: calc(((100% - 1140px) / 2) + 480px);
  }

  .u-section-1 .u-image-64 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-65 {
    margin-left: calc(((100% - 1140px) / 2) + 402px);
  }

  .u-section-1 .u-image-66 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-67 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-68 {
    margin-right: calc(((100% - 1140px) / 2) + 493px);
  }

  .u-section-1 .u-image-69 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-70 {
    margin-left: calc(((100% - 1140px) / 2) + 402px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-71 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-72 {
    margin-left: calc(((100% - 1140px) / 2) + 440px);
  }

  .u-section-1 .u-image-73 {
    margin-right: calc(((100% - 1140px) / 2) + 496px);
  }

  .u-section-1 .u-image-74 {
    margin-left: calc(((100% - 1140px) / 2) + 402px);
  }

  .u-section-1 .u-image-75 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-76 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-77 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-78 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-79 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-80 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-81 {
    margin-left: calc(((100% - 1140px) / 2) + 402px);
  }

  .u-section-1 .u-image-82 {
    margin-right: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-1 .u-image-83 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-84 {
    margin-right: calc(((100% - 1140px) / 2) + 489px);
    margin-left: auto;
  }

  .u-section-1 .u-image-85 {
    margin-right: calc(((100% - 1140px) / 2) + 489px);
    margin-left: auto;
  }

  .u-section-1 .u-image-86 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-87 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-88 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-89 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-90 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}