 .u-section-1 {
  background-image: url("images/Mountains.gif");
}

.u-section-1 .u-sheet-1 {
  min-height: 2059px;
}

.u-section-1 .u-text-1 {
  font-family: "Gochi Hand";
  line-height: 1;
  margin: 174px -49px 0 -1px;
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 48px;
  margin: -37px 80px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 111px;
  height: 111px;
  margin: 36px auto 0 144px;
}

.u-section-1 .u-image-3 {
  height: 111px;
  width: 111px;
  margin: -111px 366px 0 auto;
}

.u-section-1 .u-image-4 {
  height: 111px;
  width: 111px;
  margin: -110px 498px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 111px;
  height: 111px;
  margin: -110px auto 0 16px;
}

.u-section-1 .u-image-6 {
  width: 111px;
  height: 111px;
  margin: -110px auto 0 263px;
}

.u-section-1 .u-image-7 {
  height: 111px;
  width: 111px;
  filter: brightness(0.25);
  margin: -111px 97px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 111px;
  height: 111px;
  margin: -109px 235px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 111px;
  height: 111px;
  margin: -2px 240px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 112px;
  height: 112px;
  filter: brightness(0.2);
  margin: -218px auto 0 398px;
}

.u-section-1 .u-image-11 {
  width: 111px;
  height: 111px;
  margin: -3px auto 0 265px;
}

.u-section-1 .u-image-12 {
  width: 111px;
  height: 111px;
  margin: -110px auto 0 16px;
}

.u-section-1 .u-image-13 {
  width: 111px;
  height: 111px;
  margin: -110px 99px 0 auto;
}

.u-section-1 .u-image-14 {
  width: 112px;
  height: 112px;
  margin: -110px auto 0 139px;
}

.u-section-1 .u-image-15 {
  height: 111px;
  width: 111px;
  margin: -112px 363px 0 auto;
}

.u-section-1 .u-image-16 {
  height: 111px;
  width: 111px;
  margin: -110px 499px 0 auto;
}

.u-section-1 .u-image-17 {
  width: 111px;
  height: 111px;
  margin: -110px auto 0 401px;
}

.u-section-1 .u-image-18 {
  width: 111px;
  height: 111px;
  margin: 3px 364px 0 auto;
}

.u-section-1 .u-image-19 {
  height: 111px;
  width: 111px;
  margin: -109px 627px 0 auto;
}

.u-section-1 .u-image-20 {
  height: 111px;
  width: 111px;
  margin: -110px auto 0 270px;
}

.u-section-1 .u-image-21 {
  height: 111px;
  width: 111px;
  margin: -111px 94px 0 auto;
}

.u-section-1 .u-image-22 {
  height: 111px;
  width: 111px;
  margin: -110px 496px 0 auto;
}

.u-section-1 .u-image-23 {
  height: 111px;
  width: 111px;
  margin: -110px auto 0 142px;
}

.u-section-1 .u-image-24 {
  width: 112px;
  height: 112px;
  filter: brightness(0.2);
  margin: -110px 234px 0 auto;
}

.u-section-1 .u-image-25 {
  height: 111px;
  width: 111px;
  margin: -112px auto 0 16px;
}

.u-section-1 .u-image-26 {
  height: 111px;
  width: 111px;
  margin: 1px auto 0 401px;
}

.u-section-1 .u-image-27 {
  height: 111px;
  width: 111px;
  margin: -110px auto 0 276px;
}

.u-section-1 .u-image-28 {
  width: 111px;
  height: 111px;
  margin: -110px 496px 0 auto;
}

.u-section-1 .u-image-29 {
  height: 111px;
  width: 111px;
  margin: -111px auto 0 16px;
}

.u-section-1 .u-image-30 {
  width: 112px;
  height: 112px;
  margin: -110px 223px 0 auto;
}

.u-section-1 .u-image-31 {
  height: 111px;
  width: 111px;
  filter: brightness(0.3);
  margin: -111px auto 0 152px;
}

.u-section-1 .u-image-32 {
  width: 111px;
  height: 111px;
  filter: brightness(0.1);
  margin: -109px 363px 0 auto;
}

.u-section-1 .u-image-33 {
  width: 117px;
  height: 114px;
  margin: -107px 89px 0 auto;
}

.u-section-1 .u-image-34 {
  height: 111px;
  width: 111px;
  margin: -1px auto 0 11px;
}

.u-section-1 .u-image-35 {
  width: 111px;
  height: 111px;
  filter: brightness(0.1);
  margin: -109px auto 0 398px;
}

.u-section-1 .u-image-36 {
  height: 111px;
  width: 111px;
  margin: -111px auto 0 148px;
}

.u-section-1 .u-image-37 {
  height: 111px;
  width: 111px;
  margin: -108px auto 0 271px;
}

.u-section-1 .u-image-38 {
  width: 111px;
  height: 111px;
  margin: -109px 496px 0 auto;
}

.u-section-1 .u-image-39 {
  width: 111px;
  height: 111px;
  margin: -109px 223px 0 auto;
}

.u-section-1 .u-image-40 {
  width: 112px;
  height: 112px;
  margin: -106px 87px 0 auto;
}

.u-section-1 .u-image-41 {
  width: 111px;
  height: 111px;
  margin: -112px 363px 0 auto;
}

.u-section-1 .u-image-42 {
  width: 111px;
  height: 111px;
  filter: brightness(0.15);
  margin: -6px auto 0 142px;
}

.u-section-1 .u-image-43 {
  width: 111px;
  height: 111px;
  margin: -107px auto 0 0;
}

.u-section-1 .u-image-44 {
  width: 111px;
  height: 111px;
  filter: brightness(0.15);
  margin: -111px auto 0 272px;
}

.u-section-1 .u-image-45 {
  width: 111px;
  height: 111px;
  filter: brightness(0.1);
  margin: -105px auto 0 398px;
}

.u-section-1 .u-image-46 {
  width: 111px;
  height: 111px;
  margin: -107px 501px 0 auto;
}

.u-section-1 .u-image-47 {
  width: 112px;
  height: 112px;
  filter: brightness(0.1);
  margin: -111px 88px 0 auto;
}

.u-section-1 .u-image-48 {
  width: 111px;
  height: 111px;
  margin: -108px 228px 0 auto;
}

.u-section-1 .u-image-49 {
  width: 111px;
  height: 111px;
  margin: -111px 364px 0 auto;
}

.u-section-1 .u-image-50 {
  width: 112px;
  height: 112px;
  filter: brightness(0.2);
  margin: 5px auto 0 269px;
}

.u-section-1 .u-image-51 {
  width: 112px;
  height: 112px;
  margin: -108px 498px 0 auto;
}

.u-section-1 .u-image-52 {
  width: 111px;
  height: 111px;
  margin: -111px auto 0 0;
}

.u-section-1 .u-image-53 {
  width: 111px;
  height: 111px;
  margin: -111px auto 0 140px;
}

.u-section-1 .u-image-54 {
  width: 111px;
  height: 111px;
  margin: -111px auto 0 394px;
}

.u-section-1 .u-image-55 {
  width: 111px;
  height: 111px;
  margin: -111px 227px 0 auto;
}

.u-section-1 .u-image-56 {
  width: 111px;
  height: 108px;
  margin: -108px 94px 0 auto;
}

.u-section-1 .u-image-57 {
  width: 111px;
  height: 111px;
  margin: -100px 369px 0 auto;
}

.u-section-1 .u-image-58 {
  width: 480px;
  height: 274px;
  margin: 6px auto 0 0;
}

.u-section-1 .u-image-59 {
  width: 111px;
  height: 111px;
  filter: brightness(0.5);
  margin: -263px 496px 0 auto;
}

.u-section-1 .u-image-60 {
  width: 109px;
  height: 109px;
  margin: -111px 370px 0 auto;
}

.u-section-1 .u-image-61 {
  width: 100px;
  height: 109px;
  margin: -109px 238px 0 auto;
}

.u-section-1 .u-image-62 {
  width: 112px;
  height: 112px;
  margin: -101px 96px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Sedgwick Ave";
  margin: -124px -206px 0 156px;
}

.u-section-1 .u-image-63 {
  width: 119px;
  height: 118px;
  margin: 106px 80px 0 auto;
}

.u-section-1 .u-image-64 {
  width: 112px;
  height: 112px;
  margin: -112px 496px 0 auto;
}

.u-section-1 .u-image-65 {
  width: 112px;
  height: 112px;
  margin: -112px 226px 0 auto;
}

.u-section-1 .u-image-66 {
  width: 112px;
  height: 112px;
  margin: -112px 367px 0 auto;
}

.u-section-1 .u-image-67 {
  width: 112px;
  height: 112px;
  margin: 13px 501px 0 auto;
}

.u-section-1 .u-image-68 {
  width: 112px;
  height: 112px;
  filter: brightness(0.35);
  margin: -109px 93px 0 auto;
}

.u-section-1 .u-image-69 {
  width: 112px;
  height: 112px;
  margin: -110px 364px 0 auto;
}

.u-section-1 .u-image-70 {
  width: 112px;
  height: 112px;
  filter: brightness(0.15);
  margin: -112px 226px 0 auto;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  border-style: none;
  padding-left: 8px;
  padding-right: 8px;
  margin: -92px auto 0 80px;
}

.u-section-1 .u-image-71 {
  width: 227px;
  height: 170px;
  margin: 22px auto 0 291px;
}

.u-section-1 .u-image-72 {
  width: 215px;
  height: 170px;
  margin: -170px auto 0 40px;
}

.u-section-1 .u-image-73 {
  width: 112px;
  height: 112px;
  filter: brightness(0.2);
  margin: -122px 96px 0 auto;
}

.u-section-1 .u-image-74 {
  width: 112px;
  height: 112px;
  filter: brightness(0.25);
  margin: -112px 226px 0 auto;
}

.u-section-1 .u-image-75 {
  width: 112px;
  height: 112px;
  filter: brightness(0.25);
  margin: -112px 367px 0 auto;
}

.u-section-1 .u-image-76 {
  width: 112px;
  height: 112px;
  filter: brightness(0.1);
  margin: -105px 497px 0 auto;
}

.u-section-1 .u-image-77 {
  width: 112px;
  height: 112px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-image-78 {
  width: 112px;
  height: 112px;
  margin: -112px 490px 0 auto;
}

.u-section-1 .u-image-79 {
  width: 112px;
  height: 112px;
  margin: -112px auto 0 402px;
}

.u-section-1 .u-image-80 {
  width: 112px;
  height: 112px;
  margin: -112px 364px 0 auto;
}

.u-section-1 .u-image-81 {
  width: 112px;
  height: 112px;
  margin: -108px 226px 0 auto;
}

.u-section-1 .u-image-82 {
  width: 112px;
  height: 112px;
  margin: -112px 94px 0 auto;
}

.u-section-1 .u-image-83 {
  width: 112px;
  height: 112px;
  margin: -112px auto 0 270px;
}

.u-section-1 .u-image-84 {
  width: 112px;
  height: 112px;
  margin: -110px auto 0 139px;
}

.u-section-1 .u-image-85 {
  width: 112px;
  height: 112px;
  margin: 21px auto 0 139px;
}

.u-section-1 .u-image-86 {
  width: 112px;
  height: 112px;
  margin: -112px 362px 0 auto;
}

.u-section-1 .u-image-87 {
  width: 112px;
  height: 112px;
  margin: -111px auto 0 400px;
}

.u-section-1 .u-image-88 {
  width: 112px;
  height: 112px;
  margin: -112px 498px 0 auto;
}

.u-section-1 .u-image-89 {
  width: 112px;
  height: 112px;
  margin: -108px auto 0 270px;
}

.u-section-1 .u-image-90 {
  width: 112px;
  height: 112px;
  filter: brightness(0.25);
  margin: -110px 94px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1698px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 709px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 689px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -616px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -399px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -118px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 128px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 463px;
    margin-right: 0;
    margin-left: 828px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 319px;
    margin-right: 0;
    margin-left: 828px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -2067px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 719px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 585px;
    margin-right: 0;
    margin-left: 828px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -2270px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 1411px;
  }

  .u-section-1 .u-image-16 {
    margin-top: -97px;
  }

  .u-section-1 .u-image-17 {
    margin-top: -182px;
  }

  .u-section-1 .u-image-18 {
    margin-top: 428px;
  }

  .u-section-1 .u-image-19 {
    margin-top: 495px;
  }

  .u-section-1 .u-image-20 {
    margin-top: 75px;
  }

  .u-section-1 .u-image-21 {
    margin-top: 898px;
  }

  .u-section-1 .u-image-22 {
    margin-top: -1771px;
  }

  .u-section-1 .u-image-23 {
    margin-top: -152px;
  }

  .u-section-1 .u-image-24 {
    margin-top: -498px;
  }

  .u-section-1 .u-image-25 {
    margin-top: 269px;
  }

  .u-section-1 .u-image-26 {
    margin-top: 1437px;
  }

  .u-section-1 .u-image-27 {
    margin-top: -1537px;
  }

  .u-section-1 .u-image-28 {
    margin-top: -221px;
  }

  .u-section-1 .u-image-29 {
    margin-top: 1073px;
  }

  .u-section-1 .u-image-30 {
    margin-top: -1856px;
  }

  .u-section-1 .u-image-31 {
    margin-top: 1848px;
  }

  .u-section-1 .u-image-32 {
    margin-top: -1392px;
  }

  .u-section-1 .u-image-33 {
    margin-top: -551px;
  }

  .u-section-1 .u-image-34 {
    margin-top: 1464px;
  }

  .u-section-1 .u-image-35 {
    margin-top: -1310px;
  }

  .u-section-1 .u-image-36 {
    margin-top: 825px;
  }

  .u-section-1 .u-image-37 {
    margin-top: 191px;
  }

  .u-section-1 .u-image-38 {
    margin-top: -1213px;
  }

  .u-section-1 .u-image-39 {
    margin-top: -270px;
  }

  .u-section-1 .u-image-40 {
    margin-top: -1328px;
  }

  .u-section-1 .u-image-41 {
    margin-top: 1412px;
  }

  .u-section-1 .u-image-42 {
    margin-top: 2467px;
  }

  .u-section-1 .u-image-43 {
    margin-top: -2035px;
    margin-right: 828px;
  }

  .u-section-1 .u-image-44 {
    margin-top: 2225px;
  }

  .u-section-1 .u-image-45 {
    margin-top: 2117px;
  }

  .u-section-1 .u-image-46 {
    margin-top: -5902px;
  }

  .u-section-1 .u-image-47 {
    margin-top: -794px;
  }

  .u-section-1 .u-image-48 {
    margin-top: 1370px;
  }

  .u-section-1 .u-image-49 {
    margin-top: -414px;
  }

  .u-section-1 .u-image-50 {
    margin-top: -1133px;
  }

  .u-section-1 .u-image-51 {
    margin-top: -852px;
  }

  .u-section-1 .u-image-52 {
    margin-top: 4634px;
  }

  .u-section-1 .u-image-53 {
    margin-top: -252px;
  }

  .u-section-1 .u-image-54 {
    margin-top: -3595px;
  }

  .u-section-1 .u-image-55 {
    margin-top: 389px;
  }

  .u-section-1 .u-image-56 {
    margin-top: -1179px;
  }

  .u-section-1 .u-image-57 {
    margin-top: 1291px;
  }

  .u-section-1 .u-image-58 {
    margin-top: -1885px;
  }

  .u-section-1 .u-image-59 {
    margin-top: 2116px;
  }

  .u-section-1 .u-image-60 {
    margin-top: -2403px;
  }

  .u-section-1 .u-image-61 {
    margin-top: 298px;
  }

  .u-section-1 .u-image-62 {
    margin-top: 282px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-63 {
    margin-top: 141px;
  }

  .u-section-1 .u-image-64 {
    margin-top: -554px;
  }

  .u-section-1 .u-image-65 {
    margin-top: -207px;
  }

  .u-section-1 .u-image-66 {
    margin-top: 133px;
  }

  .u-section-1 .u-image-67 {
    margin-top: 269px;
  }

  .u-section-1 .u-image-68 {
    margin-top: -127px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -106px;
    margin-left: 0;
    padding: 0;
  }

  .u-section-1 .u-image-71 {
    margin-top: -35px;
  }

  .u-section-1 .u-image-72 {
    margin-top: -113px;
  }

  .u-section-1 .u-image-88 {
    margin-top: -52px;
  }

  .u-section-1 .u-image-89 {
    margin-top: -168px;
  }

  .u-section-1 .u-image-90 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1301px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 750px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -398px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-right: 240px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: -2069px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 721px;
  }

  .u-section-1 .u-image-13 {
    margin-right: 99px;
    margin-left: auto;
  }

  .u-section-1 .u-image-14 {
    margin-top: -2272px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 1413px;
  }

  .u-section-1 .u-image-19 {
    margin-right: 609px;
  }

  .u-section-1 .u-image-24 {
    margin-top: -500px;
  }

  .u-section-1 .u-image-25 {
    margin-top: 271px;
  }

  .u-section-1 .u-image-26 {
    margin-top: 1436px;
  }

  .u-section-1 .u-image-30 {
    margin-top: -1857px;
  }

  .u-section-1 .u-image-31 {
    margin-top: 1849px;
  }

  .u-section-1 .u-image-33 {
    margin-top: -552px;
  }

  .u-section-1 .u-image-34 {
    margin-top: 1465px;
  }

  .u-section-1 .u-image-36 {
    margin-top: 824px;
  }

  .u-section-1 .u-image-41 {
    margin-top: 1413px;
  }

  .u-section-1 .u-image-42 {
    margin-top: 2466px;
  }

  .u-section-1 .u-image-43 {
    margin-right: 608px;
  }

  .u-section-1 .u-image-49 {
    margin-top: -404px;
  }

  .u-section-1 .u-image-50 {
    margin-top: -1143px;
  }

  .u-section-1 .u-image-88 {
    margin-top: -92px;
  }

  .u-section-1 .u-image-89 {
    margin-top: -128px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 739px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 429px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -2038px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 690px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -2271px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 1412px;
  }

  .u-section-1 .u-image-16 {
    margin-right: 429px;
  }

  .u-section-1 .u-image-19 {
    margin-right: 429px;
  }

  .u-section-1 .u-image-22 {
    margin-right: 429px;
  }

  .u-section-1 .u-image-24 {
    margin-top: -499px;
  }

  .u-section-1 .u-image-25 {
    margin-top: 270px;
  }

  .u-section-1 .u-image-28 {
    margin-right: 429px;
  }

  .u-section-1 .u-image-30 {
    margin-top: -1856px;
  }

  .u-section-1 .u-image-31 {
    margin-top: 1848px;
  }

  .u-section-1 .u-image-32 {
    margin-top: -1362px;
  }

  .u-section-1 .u-image-33 {
    margin-top: -581px;
  }

  .u-section-1 .u-image-34 {
    margin-top: 1494px;
  }

  .u-section-1 .u-image-35 {
    margin-top: -1340px;
  }

  .u-section-1 .u-image-36 {
    margin-top: 855px;
  }

  .u-section-1 .u-image-37 {
    margin-top: 161px;
  }

  .u-section-1 .u-image-38 {
    margin-right: 429px;
  }

  .u-section-1 .u-image-39 {
    margin-top: -240px;
  }

  .u-section-1 .u-image-40 {
    margin-top: -1358px;
  }

  .u-section-1 .u-image-41 {
    margin-top: 1442px;
  }

  .u-section-1 .u-image-42 {
    margin-top: 2467px;
  }

  .u-section-1 .u-image-43 {
    margin-right: 428px;
  }

  .u-section-1 .u-image-46 {
    margin-right: 429px;
  }

  .u-section-1 .u-image-47 {
    margin-top: -824px;
  }

  .u-section-1 .u-image-49 {
    margin-top: -384px;
  }

  .u-section-1 .u-image-50 {
    margin-top: -1133px;
  }

  .u-section-1 .u-image-51 {
    margin-top: -882px;
    margin-right: 428px;
  }

  .u-section-1 .u-image-52 {
    margin-top: 4664px;
  }

  .u-section-1 .u-image-56 {
    margin-top: -1209px;
  }

  .u-section-1 .u-image-57 {
    margin-top: 1321px;
  }

  .u-section-1 .u-image-58 {
    margin-top: -1915px;
  }

  .u-section-1 .u-image-59 {
    margin-top: 2146px;
    margin-right: 429px;
  }

  .u-section-1 .u-image-60 {
    margin-top: -2433px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -310px;
  }

  .u-section-1 .u-image-63 {
    margin-top: 164px;
  }

  .u-section-1 .u-image-64 {
    margin-right: 428px;
  }

  .u-section-1 .u-image-67 {
    margin-right: 428px;
  }

  .u-section-1 .u-image-68 {
    margin-top: -97px;
  }

  .u-section-1 .u-image-71 {
    margin-top: -65px;
  }

  .u-section-1 .u-image-72 {
    margin-top: -83px;
  }

  .u-section-1 .u-image-76 {
    margin-right: 428px;
  }

  .u-section-1 .u-image-78 {
    margin-right: 428px;
  }

  .u-section-1 .u-image-86 {
    margin-top: -58px;
  }

  .u-section-1 .u-image-87 {
    margin-top: -165px;
  }

  .u-section-1 .u-image-88 {
    margin-top: -112px;
    margin-right: 428px;
  }

  .u-section-1 .u-image-89 {
    margin-top: -108px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 512px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -1837px;
    margin-left: 228px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 489px;
    margin-left: 229px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -2083px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 1224px;
    margin-right: 229px;
  }

  .u-section-1 .u-image-16 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-17 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-18 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-19 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-20 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-22 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-24 {
    margin-top: -311px;
    margin-right: 228px;
  }

  .u-section-1 .u-image-25 {
    margin-top: 83px;
  }

  .u-section-1 .u-image-26 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-27 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-28 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-30 {
    margin-top: -1669px;
  }

  .u-section-1 .u-image-31 {
    margin-top: 1661px;
  }

  .u-section-1 .u-image-32 {
    margin-top: -1162px;
    margin-right: 229px;
  }

  .u-section-1 .u-image-33 {
    margin-top: -594px;
  }

  .u-section-1 .u-image-34 {
    margin-top: 1507px;
  }

  .u-section-1 .u-image-35 {
    margin-top: -1540px;
    margin-left: 229px;
  }

  .u-section-1 .u-image-36 {
    margin-top: 1242px;
  }

  .u-section-1 .u-image-37 {
    margin-top: -39px;
    margin-left: 229px;
  }

  .u-section-1 .u-image-38 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-39 {
    margin-top: -227px;
  }

  .u-section-1 .u-image-40 {
    margin-top: -1371px;
  }

  .u-section-1 .u-image-41 {
    margin-top: 1455px;
    margin-right: 229px;
  }

  .u-section-1 .u-image-43 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-44 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-45 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-46 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-47 {
    margin-top: -837px;
  }

  .u-section-1 .u-image-48 {
    margin-top: 1183px;
  }

  .u-section-1 .u-image-49 {
    margin-top: -184px;
    margin-right: 229px;
  }

  .u-section-1 .u-image-50 {
    margin-left: 228px;
  }

  .u-section-1 .u-image-51 {
    margin-top: -895px;
    margin-right: 228px;
  }

  .u-section-1 .u-image-52 {
    margin-top: 4677px;
  }

  .u-section-1 .u-image-54 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-56 {
    margin-top: -1222px;
  }

  .u-section-1 .u-image-57 {
    margin-top: 1334px;
    margin-right: 229px;
  }

  .u-section-1 .u-image-58 {
    width: 340px;
    height: 194px;
    margin-top: -1928px;
  }

  .u-section-1 .u-image-59 {
    margin-top: 2239px;
    margin-right: 229px;
  }

  .u-section-1 .u-image-60 {
    margin-top: -2446px;
    margin-right: 231px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -271px;
  }

  .u-section-1 .u-image-63 {
    margin-top: 125px;
  }

  .u-section-1 .u-image-64 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-66 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-67 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-68 {
    margin-top: -84px;
  }

  .u-section-1 .u-image-69 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-71 {
    margin-top: -78px;
    margin-left: 113px;
  }

  .u-section-1 .u-image-72 {
    margin-top: -70px;
  }

  .u-section-1 .u-image-75 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-76 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-77 {
    margin-top: 35px;
  }

  .u-section-1 .u-image-78 {
    margin-top: -138px;
    margin-right: 228px;
  }

  .u-section-1 .u-image-79 {
    margin-top: -86px;
    margin-left: 228px;
  }

  .u-section-1 .u-image-80 {
    margin-top: -138px;
    margin-right: 228px;
  }

  .u-section-1 .u-image-83 {
    margin-top: -86px;
    margin-left: 228px;
  }

  .u-section-1 .u-image-86 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-87 {
    margin-left: 228px;
  }

  .u-section-1 .u-image-88 {
    margin-right: 228px;
  }

  .u-section-1 .u-image-89 {
    margin-left: 228px;
  }
}