 .u-section-1 {
  background-image: url("images/starsbg.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 608px;
}

.u-section-1 .u-text-1 {
  font-family: "Gochi Hand";
  margin-bottom: 0;
  margin-top: 162px;
}

.u-section-1 .u-image-1 {
  width: 244px;
  height: 136px;
  margin: 53px auto 0 430px;
}

.u-section-1 .u-image-2 {
  width: 100px;
  height: 80px;
  margin: -11px auto 8px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 96px;
  }
}