 .u-section-1 {
  background-image: url("images/tumblr_n889uglyGn1sh05g3o1_2501.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-text-1 {
  font-family: Audiowide;
  text-shadow: 3px 1px 10px rgba(0,0,0,1);
  margin: 107px 20px 0 136px;
}

.u-section-1 .u-text-2 {
  font-family: Audiowide;
  font-size: 1rem;
  width: 508px;
  margin: -1px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 411px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin: 8px auto 0 424px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  margin: 20px 373px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  margin: 145px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 211px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 224px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 4px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}